@use '@assets/styles/globals.scss' as *;

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
  list-style-type: none;
  padding: 0;
}

.loadMore {
  font-family: $font-medieval;
  font-size: $card-header;
  padding-bottom: $small-padding;
  text-align: center;
}

.cardWrapper {
  max-width: 300px;
  width: 100%;
  padding: 0;
}

.card {
  width: 100%;
  padding: $base-padding;
  margin: 0;
  background: var(--card-background);
  border-radius: $border-radius;
  box-shadow: 0 6px 8px var(--shadow30);

  color: var(--secondary-light);
  font-family: $font-base;

  .name {
    height: 50px;
    font-family: $font-medieval;
    font-size: $card-header;
    padding-bottom: $small-padding;
    text-align: center;
  }

  .characteristics {
    margin: $small-padding 0;
    padding: 0;
    list-style: none;
    font-size: $text-typography;

    .characteristicItem,
    .unknownItem {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      gap: 10px;
      padding: 6px 0;
      height: 36px;
      border-bottom: 1px dashed rgba(var(--base-border), 0.2);

      span:first-child {
        margin-right: 10px;
        font-weight: 500;
      }

      span:last-child {
        text-align: right;
        font-weight: 300;
      }
    }

    .unknownItem {
      span {
        color: var(--unknown);
      }
    }
  }

  .wikiLink,
  .disableLink {
    display: block;
    height: 40px;

    text-align: right;
    color: var(--unknown);
    text-decoration: none;
  }

  .wikiLink {
    color: var(--gold);
    transition: all 0.2s ease;

    &:hover {
      font-size: 110%;
    }
  }

  @media (max-width: $breakpoint) {
    max-width: 100%;
    padding: var(--small-padding);
  }
}
