@use '@assets/styles/globals.scss' as *;

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
  list-style-type: none;
  padding: 0;
}

.loadMore {
  font-family: $font-medieval;
  font-size: $card-header;
  padding-bottom: $small-padding;
  text-align: center;
}

.cardWrapper {
  position: relative;
  max-width: 300px;
  width: 100%;
  padding: 0;
}

.card {
  width: 100%;
  padding: $base-padding;
  margin: 0;
  background: var(--card-background);
  border-radius: $border-radius;
  box-shadow: 0 6px 8px var(--shadow30);

  color: var(--secondary-light);
  font-family: $font-base;

  .name {
    height: 50px;
    font-family: $font-medieval;
    font-size: $card-header;
    padding-bottom: $small-padding;
    text-align: center;
  }

  .characteristics {
    margin: $small-padding 0;
    padding: 0;
    list-style: none;
    font-size: $text-typography;

    .characteristicItem,
    .unknownItem {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      gap: 10px;
      padding: 6px 0;
      height: 36px;
      border-bottom: 1px dashed rgba(var(--base-border), 0.2);

      span:first-child {
        margin-right: 10px;
        font-weight: 500;
      }

      span:last-child {
        text-align: right;
        font-weight: 300;
      }
    }

    .unknownItem {
      span {
        color: var(--unknown);
      }
    }
  }

  .wikiLink,
  .disableLink {
    display: block;
    height: 40px;

    text-align: right;
    color: var(--unknown);
    text-decoration: none;
  }

  .wikiLink {
    color: var(--gold);
    transition: all 0.2s ease;

    &:hover {
      font-size: 110%;
    }
  }

  @media (max-width: $breakpoint) {
    max-width: 100%;
    padding: var(--small-padding);
  }
}
.checkboxWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  label {
    color: var(--label);
  }
}
.customCheckbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid var(--hover-border);
  border-radius: $border-radius;
  background-color: var(--shadow);
  transition: all 0.2s ease;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    display: none;
    left: 8px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid var(--secondary-light);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &:checked {
    background-color: var(--checked);
    border-color: var(--base-border);

    &::after {
      display: block;
      border-color: var(--primary-light);
    }
  }

  &:not(:checked) {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: var(--base-border);
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 2px var(--hover-border);
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}
