@use '@assets/styles/globals.scss' as *;

.detailCard {
  top: 30px;
  position: sticky;
  width: 350px;
  padding: 16px;
  margin: 0 auto;
  color: var(--secondary-light);
  font-family: $font-base;
  background-color: var(--shadow40);
  border-radius: $border-radius;

  .closeBtn {
    width: 28px;
    height: 28px;
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    background: none;
    border: none;
    color: var(--primary-light);
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: var(--primary-light);
      transform: scale(1.2);
      border: none;
    }
  }

  .header {
    margin: $base-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $base-padding;
    border-bottom: 1px solid rgba(var(--base-border), 0.3);
    padding-bottom: $small-padding;

    .title {
      font-family: $font-medieval;
      font-size: $card-header;
      margin: 0;
    }
  }
}

.detailsContainer {
  margin: $base-padding;
  .loading {
    text-align: center;
    padding: $base-padding;
    color: var(--primary-light);
    font-style: italic;
    font-size: $controls-typography;
  }

  .header {
    margin-bottom: $base-padding;

    .characterName {
      font-family: $font-medieval;
      font-size: $subheader-typography-mobile;
      margin: 0;
      color: var(--gold);
      text-align: center;
    }
  }

  .detailsContent {
    .wikiLink,
    .disableLink {
      font-size: $controls-typography;
      margin-top: $base-padding;
      display: block;
      height: 40px;

      text-align: right;
      color: var(--unknown);
      text-decoration: none;
    }

    .wikiLink {
      color: var(--gold);
      transition: all 0.2s ease;

      &:hover {
        font-size: 110%;
      }
    }

    .detailsList {
      margin-top: $base-padding;

      .detailsRow {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px dashed rgba(var(--base-border), 0.2);

        .detailLabel {
          font-weight: 500;
          color: var(--gold);
        }

        .detailValue {
          font-weight: 300;
          text-align: right;
        }
      }
    }

    .noDetails {
      text-align: center;
      padding: $base-padding;
      color: var(--unknown);
      font-style: italic;
    }
  }
}

@media (max-width: $breakpoint) {
  .detailCard {
    padding: $small-padding;
    max-width: 100%;
  }
}
