@use '@assets/styles/globals.scss' as *;

.mainSection {
  .mainContent {
    display: flex;
    flex-direction: column;
    gap: $base-padding;

    border-radius: var(--border-radius);

    background-color: var(--shadow);
  }
}
