@use '../../assets/globals.scss' as *;

.widget {
  padding: 10px;
  margin: 10px;
  max-width: 1180px;
  width: calc(100vw - 100px);
  display: flex;
  gap: 30px;
  flex-direction: column;

  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: $gray-500;
  color: $primary;

  &.collapsed {
    width: 200px;
    padding: 0;
    justify-content: flex-end;

    background-color: transparent;
    border-radius: 0;

    .columnsList,
    .resetButton {
      display: none;
    }

    .toggleButton {
      margin: 0 auto;
      background: $accent;
      border-radius: 5px;
    }
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}

.columnsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: start;
  font-weight: 600;
  gap: 12px;
}

.resetButton {
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  background: $accent;
  color: $accent-bright;
  cursor: pointer;
  transition: border-color 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.toggleButton {
  padding: 8px 16px;
  border-radius: 5px;
  background: $accent;
  color: $accent-bright;
  border: none;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;

  &:hover {
    transform: scale(1.1);
  }
}
