@use '@assets/styles/globals.scss' as *;

.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: $base-padding 40px;
  border-radius: $border-radius;

  color: var(--secondary-light);
  text-align: center;
  font-size: $text-typography;
  font-family: $font-medieval;

  .header {
    font-size: $header-typography;
    color: var(--hover-border);
    margin-bottom: 20px;

    @media (max-width: $breakpoint) {
      font-size: $header-typography-mobile;
    }
  }

  .data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  .link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--hover-border);
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      color: var(--gold);
      transform: scale(1.05);
    }

    img {
      width: 36px;
      height: auto;
      filter: invert(75%) sepia(55%) saturate(347%) hue-rotate(356deg)
        brightness(99%) contrast(91%);
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
