@use '../../assets/globals.scss' as *;

.wrapper {
  color: $text-primary;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;

  button:hover {
    transform: scale(1.1);
  }
}
