@use '@assets/styles/globals.scss' as *;

.buttonWrapper {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  z-index: 1000;
}

.errorButton {
  position: sticky;
  bottom: 20px;

  min-width: 200px;
  width: 60vw;
  margin: 40px auto;
  padding: $small-padding;
  border: 2px solid $base-border;

  border-radius: $border-radius;
  background-color: $gold;

  color: $primary-black;
  font-family: $font-medieval;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 0.3s ease;
  &:hover {
    background-color: $hover-border;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.2);
  }

  &:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: scale(0.98);
  }
}
