@use '@assets/styles/globals.scss' as *;

$bg-image: url('@assets/images/background.png');

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  max-width: ($max-width + 2 * $base-padding);
  margin: 0 auto;
  padding: 0;

  border-radius: $border-radius;

  background: $bg-image repeat-y top center / 300% auto;

  .outlet {
    margin: 10px;
    border-radius: 5px;
    width: calc(100% - 20px);
    background-color: var(--shadow);
    transition:
      flex 0.3s ease,
      width 0.3s ease;

    &:has(+ .detail),
    .detail + & {
      max-width: calc(100% - 390px);
    }
  }

  .detail {
    width: 350px;
    margin: 10px;
    background: var(--card-background);
    border-radius: $border-radius;
  }

  @media (max-width: $breakpoint3) {
    flex-direction: column-reverse;
    align-items: center;

    .outlet {
      min-width: 400px;
    }
  }
}
