$primary: #b7ebe5;
$primary-dark: #192e28;
$primary-light: #ecf5f3;

$secondary: #264653;
$secondary-light: #3a5868;

$accent: #0bfcf0;
$accent-dark: #06696d;

$text-primary: #1c3b50;
$text-secondary: #6c757d;
$text-light: #ffffff;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-800: #474e53;

$error: #780388;
