@use '@assets/styles/globals.scss' as *;

:root {
  font-family: $font-base;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-light);
  background-color: var(--primary-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100vw;
  background-color: var(--primary-black);
  padding: 0;
}
.app {
  padding: 0;
}

button,
input {
  color: var(--secondary-light);
  padding: 10px 12px;
  border: 1px solid var(--base-border);
  border-radius: $border-radius;
  font-size: $controls-typography;

  &:focus {
    outline: 3px solid var(--primary-light);
    outline-offset: -1px;
  }

  &:hover {
    outline: 3px solid var(--hover-border);
    outline-offset: -1px;
  }
}

button {
  cursor: pointer;
}
